body {
    margin: 10px;
    background-image: linear-gradient(to right, #FFFFFF, #EEEEEE);
}

h1 {
    color: black;
}

span {
    background-color: #EEEEEE;
    color: #FFAB00;
    padding: 3px;
    margin: 3px;
    border-radius: 60%;
    font-weight: bold;
    font-style: italic;
    border-radius: 5px 5px 5px;
}